<p id="notice"><%= notice %></p>

<p>
  <div class="field">
  <strong>Number:</strong>
  <%= @train.number %>
  </div>

  <div class="field">
  <strong>Cureren Station:</strong>
  <% if @train.current_station.present?%>
    <%= @train.current_station.title %>
  <% else %>
    Not on Station
  <% end %>
</div>


  <div class="field">
  <strong>Route:</strong>
  <% if @train.route.present?%>
    <%= @train.route.title %>
  <% else %>
    No route
  <% end %>
  </div>

  <div class="field">
  <strong>Buisness class wagons:</strong>
    <%= @count_of_buisness %>
  <strong>Econom class wagons:</strong>
    <%= @count_of_econom %>
  <strong>Count of bottom seats:</strong>
    <%= @bottom_seats %>
  <strong>Count of top seats:</strong>
    <%= @top_seats %>
  </div>


</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
