<!DOCTYPE html>
<html>
  <head>
    <title>Tutu</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1> <a href="/">AWESOME RAILWAY</a> </h1>
    <%= yield %>


    <p>(с) 2018 Маликов Максим. Учебный проект в онлайн-школе <%= link_to "Thinknetica", "http://www.Thinknetica.com" %> </p>
  </body>
</html>
